/*
* ==================
* Custom Styles 
* ==================
*/

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
* ==================
* Grid 
* ==================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  -ms-box-sizing: border-box;
   box-sizing: border-box; 
}
.container,
.grid {
  width: 960px;
  margin: 0 auto;
}
.container { 
   padding-left: 30px;
   padding-right: 30px;
}

/*
* ==================
* Clearfix - no idea how this works, gotta read more on it.
* ==================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
* ==================
* Resuable Layout 
* ==================
*/

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/*
* ==================
* Rows
* ==================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row { 
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -ms-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
* ==================
* Typography 
* ==================
*/

h1, h2, h3, h4 {
  color: #648880;
} 
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong { 
  font-weight: 400;
}
cite, em { 
  font-style: italic;
}


/*
* ==================
* Buttons 
* ==================
*/

.btn {
  color: #fff;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-default {
  border: 0; 
  background: #648880; 
  padding: 11px 30px; 
  font-size: 14px; 
}
.btn-default:hover {
  background: #77a198; 
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
* ==================
* Leads 
* ==================
*/

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
* ==================
* Links 
* ==================
*/

a {
  color: #fff;
  text-decoration: none;
}
.row a {
  color: #648880;
}
a:hover { 
  color: #a9b2b9;
}
.primary-header a,
.primary-footer a { 
  color: #fff,
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser img { 
  display: block;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 22px;
}
table a {
  color: #888; 
}  
table h4 { 
  margin-bottom: 0; 
}

/*
* ==================
* Primary Header 
* ==================
*/

.logo {
  float: left;
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  font-size: 48px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 44px;
} 
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

/*
* ==================
* Primary Footer 
* ==================
*/

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
* ==================
* Navigation 
* ==================
*/

.nav {
  text-align: right;
  font-weight: 400;
}
.primary-nav {
  font-size: 15px;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.secondary-nav {
  font-size: 14px;
  letter-spacing: .15px;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
} 
.nav li:last-child {
  margin-right: 0;
}

/*
* ==================
* Home Page
* ==================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p { 
  font-size: 24px;
  font-weight: 300;
}

/*
* ==================
* INTERNAL PAGE STYLING 
* ==================
*/

/*
* ==================
* Speakers
* ==================
*/

.speaker {
  margin-bottom: 44px;
}
.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}
.speaker-info img {
  border-radius: 50%;
  height: 130px;
  margin-top: -66px;
  margin-bottom: 22px;
  vertical-align: top;
}

/*
* ==================
* Schedule
* ==================
*/

table {
  width: 100%; 
  margin-bottom: 44px; 
} 
table:last_child { 
  margin: 0;
}
th,
td { 
  padding-bottom: 22px; 
  vertical-align: top; 
}
th {
  padding-right: 45px; 
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
} 
thead th {
  color: #648880;
  font-size: 24px;
}
tbody th {
  color: #a9b2b9; 
  font-size: 14px; 
  font-weight: 400; 
  padding-top: 22px; 
  text-transform: uppercase; 
}
tbody td {
  border-top: 1px solid #dfe2e5; 
  padding-top: 21px; 
}
tbody td:first-of-type {
  padding-right: 15px; 
}
tbody td:last-of-type {
  padding-left: 15px; 
} 
tbody td:only-of-type { 
  padding-right: 0; 
  padding-left: 0; 
}
.schedule-offset {
  color: #a9b2b9; 
}

/*
* ==================
* Venue
* ==================
*/

.venue-theater {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}
.venue-map {
  height: 264px;
}


/*
* ==================
* Registration
* ==================
*/

.why-attend {
  list-style-type: square; 
  margin: 0 0 26px 30px;
}

form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
} 
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px; 
}
.register-group input,
.register-group textarea {
  width: 100%; 
} 
.register-group select {
  height: 34px;
  width: 60px; 
} 
.register-group textarea {
  height: 78px; 
}
