/*  Please make the li's blue, underlined, 15px, and have a gray background */

li {
  color: blue;
  text-decoration: underline;
  font-size: 15px
  background: gray; 
}

/* Please make this section have a height of 300px, a light purple background, a gold border that is 5px thick */

section {
  height: 300px;
  background: rgb(105, 56, 105);
   border: 5px solid gold;
}


/* Please make this h1 30px, gold, centered, and use the Source Sans Pro Font  --> */
h1 {
  font-size: 30px;
  color: gold;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

/* Please make this footer have a dark brown background, 300px in height, and only 70% width. --> */
footer {
  background: rgb(126, 33, 33);
  height: 300px;
  width: 70%;
}

/* Please make this text have a line through it --> */

footer h2 {
  text-decoration: line-through;
}
