/* Please Make only Rhino and Zebra Blue */
#rhino,#zebra {
  color: blue; 
}
/* Please Make only Hufflepuff Gold */
#bestHouse { 
  color: gold; 
}

/* Please select Duck with the highest level of specificity possible */
html > body > h1#hi + section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
  color: red !important;
}

/* Please select Rhino with the highest level of specificity possible */
body section.top h2#rhino.africa.fourLegs {}
