/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0 15% 0 1%;
}
body > :not(header) {
  clear: both;
  margin: 0 1% 0 12%;
  /* margin-left: 12%; */
}
header {
  position: fixed;
  width: 12%;
  height: 100%;
  /* border: 2px solid black; */
  clear: both;
}
main {
  /* border: 2px solid red; */
  height: 100%;
  padding-bottom: 15px;
}
main > section {
  float: left;
  /* padding-right: 5%; */
  /* border: 2px solid pink; */
}
section.latest-news {
  /* border: 2px solid blue; */
}

section.latest-news > h4 {
  /* border: 2px solid cyan; */
  margin: 0;
}
section.latest-news > .article-grid {
  /* border: 2px solid green; */
  /* height: 250px; */
  padding-top: 25px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* navigation layout */
header nav {
  height: 60%;
  margin-left: 1%;
  /* border: 2px solid gray; */
}
header a + ul {
  padding-bottom: 25px;
}


/* headline layout */
main > .headline {
  width: 60%;
  padding-top: 20px;
  padding-right: 5%;
}
.headline> a.premium {
  display: block;
  padding-bottom: 10px;
}
main > .headline > a > * {
  padding-bottom: 10px;
}
main > .headline img {
  width: 99%;
}


/* sidelines */
main > .sidelines {
  width: 40%;
}
main > .sidelines > * h6 {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}
main > .sidelines > :last-child > h6 {
  border: 0;
  margin-bottom: 0;
}
main > .sidelines > :first-child > :first-child{
  margin-top: 10px;
}

/* latest news layout */
.latest-news > :first-child {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}
.article-grid > *{ 
  float: left;
  width: 33.33%;
  max-height: 100%;
  /* border: 1px solid lavender; */
}
.article-grid > :first-child {
  padding-right: 115px;
  text-align: left;
}
.article-grid > article {
  margin: 0 auto;
}
.article-grid > :last-child {
  text-align: right;
}
.article-grid > :last-child img {
  width: 80%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Fonts */

/* general fonts */
html {
  font-family: 'Cabin', sans-serif;
  font-size: 120%;
}
* {
  color: #050505;
  text-decoration: none;
}
p,
small {
  color: #aaaaaa;
}
h6 {
  font-size: 1rem;
  font-weight: 500;
}
i {
  color: #c3c3c3;
  font-size: 1.3rem;
}
small > i {
  color: #c3c3c3;
  font-size: .75rem;
  margin-bottom: 100%;
}


/* header fonts */
header a {
  color: #c3c3c3;
}
header a + ul a {
  line-height: 25px;
}
header .premium {
  color: #f6a623;
  font-weight: 700;
}
header .main-nav a {
  font-size: 1.25rem;
  line-height: 35px;
}
header .main-nav :nth-child(10) * {
  font-size: 1rem;
  /* line-height: -50px; */
  border-bottom: 2px solid gray;
}

/* headline fonts */
.headline {
  font-size: 1.25rem;
}
.headline .premium {
  color: #deae4d;
  font-size: 1rem;
  font-weight: 500;
}
.headline h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

/* sidelines fonts */
.sidelines h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.sidelines > section:nth-child(2) * {
  color: #717171;
}

/* latest news fonts */

.latest-news > :first-child {
  font-size: 1.15rem;
  font-weight: 500;
}
.article-grid h2{ 
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.article-grid article {
  font-size: .9rem;
  line-height: 1.25rem;
}
