/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
}


/******************************************
/* LAYOUT
/*******************************************/

/* HEADER  */
header {
  border-bottom: 1px solid gray;
  height: 50px;
}
header nav {
  margin: 0 10%;
  text-align: center;
}
header nav > * {
  position: relative;
  top: 15px;
  float: left;
  width: 33.33%;
}
header nav ul {
  border: 1px solid red;
}
nav ul li{
  float: left;
  width: 40%;
}
nav ul + a + ul li {
  width: 33%;
}

/* MAIN SECTION */
main > * {
  float: left;
  width: 50%;
  height: 400px;
}
main > img {
  border: 1px solid black;
}
main section > * {
  padding: 10px 0;
}
main section h1 {
  margin-top: 5%;
}
main h1 {
  font-size: 35px;
}
main .btn-list {
  padding-right: 50%;
}
main .btn-list li {
  float: left;
  width: 25%;
  }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a {
  text-decoration: none;
}
main a {
  background: blue;
  color: white;
  padding: 10px;
}
