/* Remove Padding, Border, and Margin from Calculations initially */
* {
  -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
                box-sizing: border-box;
}

/* Clearing for floating elements */
header,
footer,
div {
  clear: both;
}

/* Header and Footer Styling */
header,
footer {
  text-align: center;
  height: 150px;
  border: 1px solid black;
}

/* Section Styling */
div section {
  border: 1px solid black;
}
.grid-of-3 section {
  float: left;
  height: 250px;
  width: 33.33%;
}
.grid-of-2 section {
  float: left;
  height: 325px;
  width: 50%;
}
