/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1 {
  background: lavender;
  color: skyblue;
  padding: 0 10px 20px 10px;
  margin: 0 10px 0 0; 
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
  background: orange;
  padding: 30px 0; 
  border-top: 20px solid darkgreen; 
  border-bottom: 20px solid darkgreen; 
}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section {
  height: 300px;
  margin-top: 401px;
  border: 10px solid blue;
}
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span {
  padding: 5px; 
  border: 2px solid yellow; 
  margin: 5px;
}
