/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */
aside.extraExtraReadAllAboutIt h3 {
  color: blue;
}
/* Please make "I like turtles." red */
#changedIt {
  color: red;
}
/* Please select "Hello, world!" with the highest level of specificity possible*/
html > head + body > header.top + section#rugratsWildThornberrysBestCrossOverAllTime > h2 { 
  color: green !important; 
}
/* Please select "Let's get down to business..." with the highest level of specificity possible */
html > head + body > header.top + section#rugratsWildThornberrysBestCrossOverAllTime + section#changedIt > h2 + p.passTheRemote.turtles {
  color: crimson;
}
