/* Please make the h1 30px, with a little padding on the left, and thin red border */
h1 {
  font-size: 30px; 
  padding-left: 5px; 
  border: 2px solid red;
}

/* Please make the h2 25px, with padding on top/bottom, a thick gold border, and margin on the top/bottom */
h2 {
  font-size: 25px; 
  padding: 10px 0; 
  border: 8px solid gold; 
  margin: 10px 0; 
}

/* Please make the spans have a thin black border, a little padding, and blue */
span {
  color: blue;
  padding: 2px; 
  border: 2px solid black; 
}

/* Please make the section 25% width, 200px tall, centered, and with a thin purple border */
section {
  text-align: center; 
  width: 25%; 
  height: 200px; 
  border: 2px solid purple;
  margin: 0 auto;
}
