/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #f5f9fc;
  color: #506477;
}
header > nav,
main > div > :not(.background-img) {
  padding: 0 4% 0 4%;
}
main {
  padding-top: 5%;
}
.btn {
  background: #304659;
  border: 1px solid white;
  color: #fff;
}
.btn:hover {
  background: #f5f9fc;
  color: #304659;
  border: 5px solid #304659;
}

@media screen and (max-width:720px) {
  .desktop-only,
  .tablet-up {
    display: none;
  }
}
@media (min-width:721px) {
  .mobile-only {
    display: none;
  }
  header .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
  }
}

@media (min-width:1029px) {
}


  
/******************************************
/* /* MOBILE FIRST DESIGN */
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
header {
  border: 1px solid black;
  text-align: center;
}
header > nav {
  padding: 5% 2.5%;
}
header nav > * {
  float: left;
}
header .mobile-only > * {
  width: 99%;
}
header .mobile-only > :first-child {
  width: 1%;
  text-align: left;
}
nav.tablet-up {
  padding: 0;
}
nav.tablet-up > * {
  padding: 1.5% 0;
}
nav.tablet-up > :first-child {
  padding-left: 2%;
  text-align: left;
}
nav.tablet-up > :last-child {
  padding-right: 2%;
  text-align: right;
}
nav.tablet-up > :first-child,
nav.tablet-up > :last-child {
  float: left;
  width: 15%;
}
nav.tablet-up > :first-child + * {
  width: 70%;
}
nav.tablet-up > :first-child + * > ul {
  min-width: 400px;
  width: 500px;
  max-width: 50%;
  margin: 0 auto;
}

nav.tablet-up  ul > li {
  float: left;
  width: 25%;
}


/* Main layout */
main > :first-child > section > * {
  padding: 2% 0;
}
main > div {
  margin: 0;
}
main form * {
  display: block;
  width: 100%;
  height: 50px;
  margin: 3% 0;
  border: 0;
}
main form input[type="search"] {
  background: #e5ecf2;
  padding-left: 5%;
}
main > :first-child p {
  padding-bottom: 35px;
}
main .background-img {
  text-align: right;
}

@media (min-width:1029px) {
  main h1 {
    margin-right: 25%;
  }
  main > :first-child > * {
    float: left;
    width: 50%;
  }
  main > :first-child > :first-child {
    padding-top: 80px;
  }
  main > :first-child .background-img * {
    width: 100%;
    max-width: 750px;
  }
  main > :last-child {
  }
  main form > * {
    float: left;
  }
  main form > :first-child {
    width: 70%;
  }
  main form > :last-child {
    min-width: 120px;
    width: 20%;
    max-width: 150px;
  }
  main .grid > * {
    float: left;
    width: 25%;
  }
  .grid > section > * {
    padding-bottom: 20px;
  }
}
  main h1, h5 {
    padding-bottom: 20px;
  }


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Fonts */
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

h1, h2, h3, a {
  color: #304659;
  text-decoration: none;
  font-weight: bold;
}
.btn {
  font-size: 2rem;
  font-weight: bold;
}

/* header fonts */
header h3 {
  font-size: 2rem;
}
header ul > * {
  font-size: 1.75rem;
  font-weight: 300;
}
header .mobile-only > :first-child * {
  color: #5b6d7d;
  font-size: 3rem;
}
header .mobile-only h3 {
  color: #5b6d7d;
  font-size: 3rem;
}

/* Main  */
main {
  font-size: 1.5rem;
}
main h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
