/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background: black;
  color: white; 
  height: 20px; 
  width: 100%;
}
header > * {
  float: left;
}
header nav {
  width: 80%;
}
nav ul li {
  float: left;
  margin-left: 5%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
