/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body > :not(header) {
  margin: 0 10%;
}

/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */
header {
  background: black;
  color: white;
  height: 40px;
}
header > * {
  float: left;
  border-left: 1px solid gray;
}
header > :not(nav) {
  width: 10%;
}
header nav {
  text-align: center;
  width: 70%;
}

nav ul li {
  float: left;
  margin-left: 5%;
}
header a {
  color: white;
}

/* Headlines */
main > section {
  float: left;
  width: 100%;
}
section > h4,
section > span {
  float: left;
  width: 50%;
  margin: 30px 0 5px 0;
}
section > h4 + span {
  text-align: right;
}
.headline,
.sidelines {
  background: gray;
  color: white;
  text-align: left;
  width: 50%;
  height: 600px;
  border: 1px solid black;
}
.sidelines > article {
  background: brown;
  float: left;
  width: 50%;
  height: 300px;
  padding: 50px;
  border: 10px solid white;
}
.headline > *,
.sidelines > article * {
  position: relative;
  top: 75%;
}

/* NEWS SECTION */
.news > * {
  clear: left;
}
.news article {
  float: left;
  width: 33.33%;
  height: 500px;
  padding: 15px 0 0 1%;
}
.news > section article:first-child {
  padding-left: 0;
}
.news article > * {
  position: relative;
}
.news article h2 {
  padding: 10px 0 20px 0;
}
.news img {
  width: 100%;
}
.news p {
  padding-bottom: 4%;
}
.news h6 {
  margin-top: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* 
* FONT Styling 
*/

/* Root First */
html {
  font-size: 85%;
  font-family: "Roboto", sans-serif;
}
/* General */
body h4 {
  color: #525252;
  font-size: 1.75rem;
  font-weight: 700;
}
/* Link Font */
a {
  text-decoration: none;
}
/* Headlines Section */

/* News Secton */
.news h4 {
  padding-left: 10px;
  border-left: 5px solid #e91901;
}
.news h2 {
  color: #2b2b2b;
  font-size: 1.75rem;
  font-weight: 700;
}
.news p {
  color: #6b6b6b;
  font-size: 1.15rem;
}
.news h6 {
  color: #9f9f9f;
  padding-left: 7px;
  border-left: 3px solid #e91901;
}
