/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0 10%;
}
header,
footer,
body > section {
}
.container {
  margin: 0 15%;
}
div.column-3 > * {
  float: left;
  width: 33.33%;
  text-align: center;
}
div.column-2 > * {
  float: left;
  width: 50%;
}

/* buttons */
.coupon,
.btn {
  background: #000;
  color: #fff;
}
.btn-alt {
  background: #fff;
  color: #000;
}
.btn,
.btn-alt {
  padding: 20px;
}
.alt-background {
  background: #f3f4f6;
}

/******************************************
/* LAYOUT
/*******************************************/
header nav {
  margin: 0 2%;
  height: 60px;
  padding-top: 5px;
}
header > nav > * {
  float: left;
  padding: 1% 0;
}
header nav > :not(ul) {
  width: 25%;
  max-height: 100%;
  text-align: center;
}
header nav ul {
  width: 60%;
}
header nav > :last-child {
  width: 15%;
}
header nav ul > li {
  float: left;
  width: 12.5%;
}
header nav .logo {
  position: relative;
  bottom: 10px;
  width: 125px;
}

/* main layout */
main {
  position: relative;
  width: 100;
  height: auto;
}
main img {
  width: 100%;
}
main > * {
}
main > .title {
  color: white;
  position: absolute;
  bottom: 45%;
  left: 10%;
  height: 35%;
}
main > .title > * {
  margin: 5% 0;
  max-height: 100%;
}

main .coupon {
  position: absolute;
  bottom: 25%;
  left: 10%;
  width: 20%;
  height: 20%;
  padding: 1.5% 0;
}
.coupon > :not(.btn) {
  padding: 0 0 0 10px;
}
.coupon > :first-child {
  height: 25%;
  border-left: 5px solid #fff;
}
.coupon h3 {
  width: 75%;
  margin-left: 1%;
}
main .coupon > :not(:last-child) {
  padding: 0 0 7% 20px;
}
main .coupon .btn-alt {
  position: absolute;
  top: 70%;
  padding: 2% 5% 2% 10%;
  margin-left: 10%;
  /* text-align: center; */
}

main > :last-child {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
main > :last-child .column-3 > * {
  padding: 0 7%;
}
main > :last-child > div img {
  width: 70%;
  padding-bottom: 20px;
}
main > :last-child h4 {
  padding-bottom: 20px;
}

/* about section layout */
.about > * {
  padding: 5% 0;
  /* border: 5px solid yellow; */
}
.about > div > :first-child :not(.btn) {
  padding: 0 10% 5% 0;
}
.about > div > :first-child .btn {
  padding: 2% 5%;
}
.about > div > :last-child {
  padding: 0 0 0 5%;
}

/* beauticians section layout */
.beauticians {
  padding: 50px 0;
}
.beauticians > div {
  column-count: 3;
  column-gap: 5%;
  margin: 0;
}
.beauticians > div img {
  width: 100%;
  height: 100%;
}

/* promo section layout */
.promo .container {
  position: relative;
  width: 100;
  height: auto;
  padding: 50px 0;
}
.promo img {
  width: 100%;
}
.promo .container section {
  position: absolute;
  bottom: 30%;
  left: 5%;
  width: 55%;
  height: 50%;
}
.promo .container section :not(.btn) {
  margin-bottom: 5%;
}

/* lookbook section layout */
div.beauty-grid {
  column-count: 3;
  column-gap: 2%;
}
.lookbook {
  text-align: center;
}
div.beauty-grid img {
  width: 100%;
  padding: 3%;
}
div.beauty-grid img:hover {
  filter: brightness(0.2);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html {
  color: #000;
  font-size: 62.5%;
}
h2,
h4 {
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
  line-height: 5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
  line-height: 2rem;
}
a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}
.coupon h3 {
  font-size: 2rem;
}
.coupon p {
  font-size: 2rem;
}
.coupon span {
  font-size: 2rem;
}

/* button fonts */
.btn {
  font-size: 1.75rem;
}
/* header fonts */
header * {
  font-size: 1.4rem;
}

/* main section fonts */
main {
  text-transform: uppercase;
}
main h1 {
  font-size: 10rem;
  letter-spacing: 1rem;
  line-height: 11rem;
}

main > .title > :not(h1) {
  font-size: 2.25rem;
}
main .title > p {
  letter-spacing: 0.75rem;
}
main .coupon :not(p) {
  font-size: 2.25rem;
}
main .coupon p {
  font-size: 2.25rem;
}
main .coupon * {
  line-height: 4rem;
}
main .coupon span {
  font-size: 3.5rem;
}
main :last-child p {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Lookbook fonts */
.lookbook span {
  font-size: 5rem;
}
