/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Please make the someText 12px, moreText 16px, and lastText 27px */
.someText {
  font-size: 12px;
}
.moreText {
  font-size: 16px;
}
.lastText {
  font-size: 27px;
}

/* Please double the font-size of someText, moreText, and lastText (still using px) */
.someText {
  font-size: 24px;
}
.moreText {
  font-size: 32px;
}
.lastText {
  font-size: 54px;
}


/* Please set a base font-size on heyo, and make someText 12px, moreText 16px, and lastText 27px BUT use ems instead of px */
section.heyo {
  font-size: 10px;
}
.someText {
  font-size: 1.2em;
}
.moreText {
  font-size: 1.6em;
}
.lastText {
  font-size: 2.7em;
}


/* Please double the size of someText, moreText, and lastText using ems, but only make one change */
section.heyo {
  font-size: 20px;
}


/* Please wrap lastText in a new section with the class of utOh and give it a base font size of 40px */
.utOh {
  font-size: 40px;
}
/* Please fix your doubling of lastText, buy converting to rems */
html {
  font-size: 20px;
}
.lastText {
  font-size: 2.7rem;
}
