* { 
  box-sizing: border-box;
}
body {
  /* overflow: auto; */
  /* *zoom: 1; */
}
header, 
footer,
.lead,
.off-grid section{
  border: 1px solid black;
}
header,
footer {
  height: 175px;
  clear: both;
}
.lead {
  height: 250px;
}
.off-grid section {
  float: left;
  width: 70%;
  height: 300px;
}
.off-grid .small-box {
  width: 30%;
}
