/* 
* UNIVERSAL STYLING 
*/

body {
  background: #87ceeb;
  color: #fff;
  font: 400 17px/20px "Source Sans Pro", sans-serif;
}

/* 
* BOX MODEL WIDTH ISSUE HANDLING 
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
                box-sizing: border-box;
}
body > div {
  position: relative;
   max-width: 95%; 
  max-height: 95%;
  border: 5px solid #48cd31;
  margin: 30px 25px 30px 25px;
}
/* clear fix  */
div {
  overflow: auto;
  *zoom: 1;
}

/* 
* HEADER & FOOTER
*/
header,
footer,
section {
  margin: 30px 50px 35px 30px;
}
header,
footer {
  text-align: center;
}
h1 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 30px;
}

/* 
* NAVIGATION & LINKS
*/
nav li{
  font-weight: 900;
  font-size: 19px;
  height: 17px;
  display: inline-block;
  padding-left: 4px;
  margin-left: 4px;
  border-left: 2.5px solid rgba(128,135,138,255);
}
nav li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}
a {
  color: #4acc9a;
}

/* 
* MAIN SECTION 
*/
img {
  height: 300px; 
  width: 225px;
  float: right;
}
section h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}
section p {
  line-height: 25px;
  width: 95%;
  margin-bottom: 25px;
}
section p:last-child {
  margin-bottom: 0;
}
